/* Menu & Logo */ 

* {
    margin: 0;
    padding: 0;
    border: none;
}




header {
    padding: 0;
    margin: 0;
    background-color: black;
    position: sticky;
    width: 100%;
    height: 58px;
}

#logo {
    font-size: 1.3em;
    margin: 0 auto;
    padding: 0 10px;
    float: left;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
}

.w-rule {
    color: rgb(197, 48, 48);
}

nav {
    margin: 0 auto;
    padding: 0 auto;
    float: right;
}

nav a {
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
    padding-right: 10px;
}

nav a:hover {
    color: rgb(197, 48, 48);
    text-decoration: underline;

}

nav li {
    margin: 10px;
    padding: 2px;
    display: inline-block;
}

.active {
    color: rgb(197, 48, 48);
    text-decoration: underline;
}

#logo, #menu {
    padding-top: 10px;
}


/* Top Banner picture */

#banner {
    height: 720px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
}

#top-pic { 
    width: 100%;
    height: 720px;
    background: url('../images/Banner.png') no-repeat center center;
}

/* Music Section */

#music-sec h1 {
    font-size: 2em;
    text-align: center;
}

#music-block-1 {
    font-size: 1.2em;
    float: left;
    padding-left: 20%;
}

#music-block-1 li {
    list-style-type: none;
}

#music-block-2 {
    font-size: 1.2em;
    float: right;
    padding-right: 20%;
}

#music-block-2 li {
    list-style-type: none;
}

/* Video section */

#video-sec h1 {
    font-size: 2em;
    text-align: center;
}