/* Menu & Logo */ 

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    margin: 0 auto;
    padding: 0 auto;
    border: none;
    width: 100%;
}

header {
    padding: 0;
    margin: 0;
    background-color: black;
    position: sticky;
    width: 100%;
    height: 60px;
}

#logo {
    font-size: 1.3em;
    margin: 0 auto;
    padding: 0 10px;
    float: left;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
}

.w-rule {
    color: tomato;
}

nav {
    margin: 0 auto;
    padding: 0 auto;
    float: right;
}

nav a {
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
    padding-right: 10px;
}

nav a:hover {
    color: tomato;
    text-decoration: underline;

}

nav li {
    margin: 10px;
    padding: 2px;
    display: inline-block;
}

.active {
    color: tomato;
    text-decoration: underline;
}

#logo, #menu {
    padding-top: 10px;
}


/* Top Banner picture */

#banner {
    height: 720px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
}

#top-pic { 
    width: 100%;
    height: 720px;
    background: url('../images/Banner.png') no-repeat center center;
}

/* Music Section */

#music-sec {
    width: 100%;
    height: 400px;
    border-bottom: 1px solid black;
    background: url('../images/kdw-shadow-2.jpg') no-repeat 0 -300px;
}

#music-sec h1 {
    padding-top: 15px;
    font-size: 3em;
    text-align: center;
}

#music-block-1 {
    font-size: 1.2em;
    float: left;
    padding-left: 20%;
}

#music-block-1 li {
    list-style-type: none;
}

#music-block-1 a {
    text-decoration: none;
    font-size: 35px;
    color: black;
}

#music-block-2 {
    font-size: 1.2em;
    float: right;
    padding-right: 20%;
}

#music-block-2 li {
    list-style-type: none;
}

#music-block-2 a {
    text-decoration: none;
    font-size: 35px;
    color: black;
}

.fa-spotify {
    color: rgb(15, 161, 15);
}

.fa-itunes {
    color: rgb(194, 70, 70)
}

.fa-deezer {
    color: rgb(201, 63, 201);
}

.fa-youtube {
    color: red;
}

#music-block-1 a:hover, #music-block-2 a:hover {
    color: tomato;
}

#music-block-1, #music-block-2 {
    margin-top: 70px;
}

/* Video section */

#video-sec {
    width: 100%;
    height: 450px;
    border-bottom: 1px solid black;
    background-color: rgb(245, 241, 241);
}

#video-sec h1 {
    padding-top: 15px;
    font-size: 3em;
    text-align: center;
}

#video-blocks {
    margin-left: 11%;
    margin-top: 15px
}

#video-1, #video-2, #video-3 {
    padding: 25px;
    
}

/*Bio section*/

#bio-sec {
    width: 100%;
    height: 400px;
    border-bottom: 1px solid black;
    
}

#bio-sec h1 {
    padding-top: 15px;
    font-size: 3em;
    text-align: center;
}

#bio-para p {
    width: 65%;
    text-align: center;
    font-size: 1.5em;
    margin-left: 18%;
    margin-top: 50px;
}

#bio-button a {
    margin-left: 1.5%;
    margin-top: 30px;
}

.see-more-button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .see-more-button {
    background-color: white;
    color: black;
    border: 2px solid tomato;
  }
  
  .see-more-button:hover {
    background-color: tomato;
    color: white;
  }

  /*Footer Section*/

  footer {
      width: 100%;
      height: 100px;
  }

  #bio-button {
    margin-left: 46%;
    margin-top: 30px;
}

.contact-button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .contact-button {
    background-color: white;
    color: black;
    border: 2px solid tomato;
  }
  
  .contact-button:hover {
    background-color: tomato;
    color: white;
  }

  .social-networks {
    text-align: center;
  }

  .social-networks > li {
      display: inline;
  }